/* Icon logo styles */
[class^="iconlogo-"] {
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  width: 80px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 500px 400px;
  background-image: url('https://cdnv2.tgdd.vn/webmwg/2024/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi-min.png');
}

.iconlogo-topzone.visible {
  background-position: 0 -58px;
  display: block;
  width: 80px;
  height: 24px;
  background-color: #000;
  border-radius: 4px;
}

.iconlogo-dmx.visible {
  background-position: -84px 0;
  display: block;
  width: 80px;
  height: 24px;
  background-color: #ffde00;
  border-radius: 4px;
}

.iconlogo-bhx.visible {
  background-position: -168px 0;
  display: block;
  width: 80px;
  height: 24px;
  background-color: #00b14f;
  border-radius: 4px;
}

.iconlogo-nhathuoc.visible {
  background-position: -252px 0;
  display: block;
  width: 80px;
  height: 24px;
  background-color: #00c6bb;
  border-radius: 4px;
}

.iconlogo-avakids.visible {
  background-position: 0 -32px;
  display: block;
  width: 80px;
  height: 24px;
  background-color: #ff3366;
  border-radius: 4px;
}

.iconlogo-vieclam.visible {
  background-position: -84px -32px;
  display: block;
  width: 80px;
  height: 24px;
  background-color: #ffb700;
  border-radius: 4px;
}

.iconlogo-astraplus.visible {
  background-position: -168px -32px;
  display: block;
  width: 80px;
  height: 24px;
  background-color: #eee;
  border-radius: 4px;
}

.iconlogo-tgdd.visible {
  background-position: -252px -32px;
  display: block;
  width: 80px;
  height: 24px;
  background-color: #4a00e0;
  border-radius: 4px;
}